[Desktop Entry]
Name=rekonq
Name[sv]=Rekonq
GenericName=WebKit-based Web Browser for KDE
GenericName[de]=WebKit-basierter Web-Browser für KDE
GenericName[et]=KDE Webkiti veebibrauser
GenericName[pt]=Navegador Web com WebKit
GenericName[pt_BR]=Navegador Webkit do KDE
GenericName[sv]=WebKit webbläsare för KDE
GenericName[uk]=Переглядач мережі на WebKit для KDE
Icon=rekonq
Type=Application
Exec=rekonq %u
X-DocPath=rekonq/index.html
Categories=Qt;KDE;Network;
Terminal=False
MimeType=text/html;application/xhtml+xml;application/xml;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=net.sourceforge.rekonq
