[Desktop Entry]
Name=rekonq
GenericName=Webkit KDE Browser
Icon=rekonq
Type=Application
Exec=rekonq %u
X-DocPath=rekonq/index.html
Categories=Qt;KDE;Network;
