<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="rekonq" version="16">
<MenuBar>
<!--  ============ FILE menu =========== -->
<Menu name="file" noMerge="1"><text>&amp;File</text>
    <Action name="file_new" />
    <Action name="file_open" />
    <Action name="open location" />
    <Separator/>
    <Action name="new tab" />
    <Action name="close tab" />
    <Separator/>
    <Action name="file_save_as" />
    <Separator/>
    <Action name="file_print_preview" />
    <Action name="file_print" />
    <Separator/>
    <Action name="private browsing" />
    <Separator/>
    <Action name="file_quit" />
</Menu>
<!--  ============ EDIT menu =========== -->
<Menu name="edit" noMerge="1"><text>&amp;Edit</text>
    <Action name="edit_undo" />
    <Action name="edit_redo" />
    <Separator/>
    <Action name="edit_cut" />
    <Action name="edit_copy" />
    <Action name="edit_paste" />
    <Separator/>
    <Action name="edit_select_all" />
    <Separator/>
    <Action name="edit_find" />
    <Action name="edit_find_next" />
    <Action name="edit_find_prev" />
</Menu>
<!--  ============ VIEW menu =========== -->
<Menu name="view" noMerge="1"><text>&amp;View</text>
    <Action name="stop reload" />
    <Action name="go_home" />
    <Separator/>
    <Action name="bigger font" />
    <Action name="normal font" />
    <Action name="smaller font" />
    <Separator/>
    <Action name="page source" />
    <Action name="fullscreen" />
</Menu>
<!--  ============ GO menu =========== -->
<Menu name="go" deleted="true">
</Menu>
<!--  ============ BOOKMARKS menu =========== -->
<Action name="bookmarks" />
<!--  ============ TOOLS menu =========== -->
<Menu name="tools">
    <Action name="downloads" />
    <Action name="web inspector" />
</Menu>
<!--  ============ SETTINGS menu =========== -->
<Menu name="settings" noMerge="1">
    <text>&amp;Settings</text>
    <!--
    Disable merging because we do not want the "fullscreen" action to appear
    here, since it is already in the "view" menu.
    -->
    <Action name="options_show_menubar"/>
    <Action name="options_configure_keybinding"/>
    <Action name="options_configure_toolbars"/>
    <Action name="options_configure"/>
</Menu>        
</MenuBar>

<!--  ============ Main ToolBar =========== -->
<ToolBar name="mainToolBar" fullWidth="true" iconText="iconOnly" position="top" noMerge="1"><text>Main Toolbar</text>
    <Action name="history back" />
    <Action name="history forward" />
    <Action name="stop reload" />
    <Action name="go_home" />
</ToolBar>

<!--  ============ Bookmarks ToolBar =========== -->
<ToolBar name="bookmarksToolBar" fullWidth="true" iconText="iconOnly" position="top" noMerge="1"><text>Bookmarks Toolbar</text>
</ToolBar>

</kpartgui>
