[Desktop Entry]
Name=rekonq
Name[bg]=rekonq
Name[bs]=rekonq
Name[ca]=rekonq
Name[ca@valencia]=rekonq
Name[cs]=rekonq
Name[da]=rekonq
Name[de]=rekonq
Name[el]=rekonq
Name[en_GB]=rekonq
Name[es]=rekonq
Name[et]=rekonq
Name[fa]=ریکانک
Name[fi]=rekonq
Name[fr]=rekonq
Name[ga]=rekonq
Name[hu]=Rekonq
Name[it]=rekonq
Name[ko]=rekonq
Name[lt]=rekonq
Name[nb]=rekonq
Name[nds]=Rekonq
Name[nl]=rekonq
Name[pl]=rekonq
Name[pt]=rekonq
Name[pt_BR]=rekonq
Name[ro]=rekonq
Name[ru]=rekonq
Name[sl]=rekonq
Name[sr]=Реконк
Name[sr@ijekavian]=Реконк
Name[sr@ijekavianlatin]=Rekonq
Name[sr@latin]=Rekonq
Name[sv]=Rekonq
Name[th]=rekonq
Name[tr]=rekonq
Name[uk]=rekonq
Name[x-test]=xxrekonqxx
Name[zh_CN]=rekonq
Name[zh_TW]=rekonq
GenericName=Web Browser
GenericName[bs]=Pregled Internet WWW stranica
GenericName[ca]=Navegador web
GenericName[ca@valencia]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebilehitseja
GenericName[fa]=مرورگر وب
GenericName[fi]=WWW-selain
GenericName[ga]=Brabhsálaí Gréasáin
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ko]=웹 브라우저
GenericName[lt]=Žiniatinklio naršyklė
GenericName[nb]=Nettleser
GenericName[nds]=Nettkieker
GenericName[nl]=Webbrowser
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[sl]=Spletni brskalnik
GenericName[sr]=Веб прегледач
GenericName[sr@ijekavian]=Веб прегледач
GenericName[sr@ijekavianlatin]=Veb pregledač
GenericName[sr@latin]=Veb pregledač
GenericName[sv]=Webbläsare
GenericName[th]=เว็บเบราว์เซอร์
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Переглядач Інтернету
GenericName[x-test]=xxWeb Browserxx
GenericName[zh_CN]=网页浏览器
GenericName[zh_TW]=網頁瀏覽器
Icon=rekonq
Type=Application
Exec=rekonq %u
X-DocPath=rekonq/index.html
Categories=Qt;KDE;Network;WebBrowser;
Terminal=false
MimeType=text/html;application/xhtml+xml;application/xml;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.rekonq

