[Desktop Entry]
Name=rekonq
Name[cs]=rekonq
Name[da]=rekonq
Name[de]=rekonq
Name[en_GB]=rekonq
Name[es]=rekonq
Name[fr]=rekonq
Name[ga]=rekonq
Name[it]=rekonq
Name[lt]=rekonq
Name[nds]=Rekonq
Name[nl]=rekonq
Name[pl]=rekonq
Name[pt]=rekonq
Name[pt_BR]=rekonq
Name[sv]=Rekonq
Name[uk]=rekonq
Name[x-test]=xxrekonqxx
Name[zh_CN]=rekonq
Name[zh_TW]=rekonq
GenericName=WebKit KDE Browser
GenericName[da]=KDE-browser baseret på WebKit
GenericName[de]=WebKit-basierter Webbrowser für KDE
GenericName[pt]=Navegador do KDE Usando o WebKit
GenericName[pt_BR]=Navegador WebKit do KDE
GenericName[sv]=Webkit webbläsare för KDE
GenericName[uk]=Переглядач мережі на WebKit для KDE
GenericName[x-test]=xxWebKit KDE Browserxx
Icon=rekonq
Type=Application
Exec=rekonq %u
X-DocPath=rekonq/index.html
Categories=Qt;KDE;Network;WebBrowser;
Terminal=false
MimeType=text/html;application/xhtml+xml;application/xml;
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=net.sourceforge.rekonq
