[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

Icon=preferences-web-browser-adblock
Exec=kcmshell4 webkitAdblock

X-KDE-Library=kcm_webkitadblock
X-KDE-PluginKeyword=webkitAdblock
X-KDE-ParentApp=kcontrol

Name=Webkit AdBlock

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
